extends layout

block content
    h1.mb-4 #{user.name}
    .card
        .card-body
            h5.card-title #{user.name}
            p.card-text #{user.email}
    a.btn.btn-primary(href=`/user/${user.id}/edit`) Edit
    form(method='post', action=`/user/${user.id}?_method=DELETE`)
        input.btn.btn-danger(type='submit', value='Delete')