extends ../layout

block content
    h1.mb-4 Users
    table.table
        thead.thead-dark
            tr
                th Name
                th Email
                th Actions
        tbody
            each user in users
                tr
                    td #{user.name}
                    td #{user.email}
                    td
                        div.d-flex
                            a.btn.btn-primary.mr-2(href=`/user/${user.id}`) View
                            a.btn.btn-info.mr-2(href=`/shift/user/${user.id}`) User Shifts
                            a.btn.btn-secondary.mr-2(href=`/user/${user.id}/edit`) Edit
                            form(method='POST', action=`/user/${user.id}?_method=DELETE`)
                                input.btn.btn-danger(type='submit', value='Delete')
    a.btn.btn-success(href='/user/new') Create New User