extends ../layout

block content
    h1 All Shifts
    table.table
        thead.thead-dark
            tr
                th ID
                th User ID
                th Start Time
                th End Time
                th Actions
        tbody
            each shift in shifts
                tr
                    td #{shift.id}
                    td #{shift.user_id}
                    td #{new Date(shift.start_time).toLocaleString()}
                    td #{new Date(shift.end_time).toLocaleString()}
                    td
                        div.d-flex
                            a.btn.btn-primary.mr-2(href=`/shift/${shift.id}`) View
                            a.btn.btn-secondary.mr-2(href=`/shift/edit/${shift.id}`) Edit
                            form(method='POST' action=`/shift/${shift.id}?_method=DELETE`)
                                input.btn.btn-danger(type='submit', value='Delete')
    a.btn.btn-success(href='/shift/new') Create New Shift