extends ../layout

block content
    h1 User's Shifts
    table.table
        thead
            tr
                th User ID
                th Start Time
                th End Time
                th Actions
        tbody
            each shift in shifts
                tr
                    td #{shift.id}
                    td #{new Date(shift.start_time).toLocaleString()}
                    td #{new Date(shift.end_time).toLocaleString()}
                    td
                        div.d-flex
                            a.btn.btn-primary.mr-2(href=`/shift/${shift.id}`) View
                            form(method='POST', action=`/shift/${shift.id}?_method=DELETE`)
                                input.btn.btn-danger(type='submit', value='Delete')