extends ../layout

block content
    h1 User's Shifts
    table.table
        thead
            tr
                th User ID
                th Start Time
                th End Time
                th Actions
        tbody
            each shift in shifts
                tr
                    td #{shift.userId}
                    td #{shift.startTime}
                    td #{shift.endTime}
                    td
                        a.btn.btn-primary(href=`/shifts/${shift.id}`) View
                        a.btn.btn-danger(href=`/shifts/delete/${shift.id}`) Delete